<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nodomain.freeyourgadget.gadgetbridge">

    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application


        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="nodomain.freeyourgadget.gadgetbridge.SettingsActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name="nodomain.freeyourgadget.gadgetbridge.ControlCenter"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="nodomain.freeyourgadget.gadgetbridge.NotificationListener"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>

</manifest>
